<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Code Java</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="/webjars/bootstrap/css/bootstrap.min.css"
    />

    <link
      rel="stylesheet"
      href="bootstrap-5.0.2-dist/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container text-center mt-5">
      <div>
        <h1>You have singup successfully</h1>
      </div>

      <div>
        <h3>
          <a th:href="@{/login}">login</a>
        </h3>
      </div>
    </div>
    <script src="bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
    <script src="webjars/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
